@media (max-width: 900px) {
  .section.sec1.header {
    overflow: scroll;
    .header-content {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      .right-header {
        grid-row: 1;
        padding: 5rem;
        h1.name {
          font-size: 2.3rem;
        }
        .download-btn-container {
          width: 100%;
          display: flex;
          justify-content: center;
        }
      }
      .left-header {
        margin-bottom: 4.5rem;
      }
    }
  }

  .main-content {
    .controls {
      width: 100%;
      top: auto;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      flex-direction: row;
      justify-content: center;
      background-color: var(--color-grey-5);
      .control {
        margin: 1rem 0.3rem;
      }
    }
  }
}
